# .env
PORT=YOURPORT
DATABASE_URL=YOUR-DB-URL
ACCESS_TOKEN_SECRET="your-secret-code"
NODE_ENV="development"

# .env.test
DATABASE_URL=YOUR-DB-URL
ACCESS_TOKEN_SECRET="your-secret-code"
NODE_ENV=test

